# Duplicate this file to ".env.local" for local development and
# set the value(s) below to match the CDK/CloudFormation outputs.
# In the deployed application, the values will be automatically set.
#
# VITE_API_URL    - The URL of the API Gateway endpoint. Copy it from
#                   the CloudFormation outputs.
# VITE_API_KEY    - The API key to use for authenticating API requests.
#                   Copy it from SSM Parameter Store.
# VITE_TEST_AUDIO - Enable audio recording and transcription tests in
#                   the UI. Set to true or false.
#
VITE_API_URL=""
VITE_API_KEY=""
VITE_TEST_AUDIO="false"
