aws-lambda-powertools[tracer,parser]==3.2.0
langchain==0.3.7
langchain-aws==0.2.6
langchain-community==0.3.0
defusedxml==0.7.1
weasyprint==62.3
markdown==3.6
boto3>=1.34.69
dominate==2.9.1
pyarrow
s3fs